<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">\
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!--=============== REMIXICON ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
   <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="diet.css">
    <link rel="stylesheet" href="main.js">
    <link rel="stylesheet" href="script.js">
    <title>Diet Plan</title>
</head>

<body>
<!-- header section starts -->
<header class="header">
    <a href="index1.html" class="logo"><span>MY</span>FIT</a>

    <div id="menu-btn" class="fas fa-bars"> </div>
    <nav class="navbar">
        <a href="index1.html#home">Home</a>
        <a href="index1.html#about">About</a>
        <a href="body(myFit).html" target="_self">Directory</a>
        <a href="diet.html">Diet</a>
    </nav>

</header>
<!-- header section ends -->
    <div class="container">
        <h1 class="mt-5 mb-4 text-center head text-light">Diet Plan</h1>

       
        <div class="row justify-content-center mb-4">
            <div class="col-auto">
                <button class="btn btn-danger" type="button" onclick="showContent('sun-content')">Sunday</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-danger" type="button" onclick="showContent('mon-content')">Monday</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-danger" type="button" onclick="showContent('tue-content')">Tuesday</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-danger" type="button" onclick="showContent('wed-content')">Wednesday</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-danger" type="button" onclick="showContent('thu-content')">Thursday</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-danger" type="button" onclick="showContent('fri-content')">Friday</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-danger" type="button" onclick="showContent('sat-content')">Saturday</button>
            </div>
        </div>

        
        <div class="collapse content" id="sun-content" >
         <section>
            <div class="card card-body">
                <h1>Breakfast (271 calories)</h1>
                <div class="meal-info">
                    <ul>
                        <li>1 serving Baked Banana-Nut Oatmeal Cups</li>
                        <li>1 medium apple</li>
                    </ul>
                </div>
                <h1>Lunch (325 calories)</h1>
                <ul>
                    <li>1 serving Veggie & Hummus Sandwich</li>
                    <li>4 ounces chopped grilled chicken breast</li>
                    <li>1 tablespoon shredded low-fat cheddar cheese</li>
                    <li>diced grilled veggies (2 tablespoons onion, 1/4 cup diced zucchini, 1/2 cup bell pepper)</li>
                    <li>1 teaspoon chopped cilantro, and 1 tablespoon vinaigrette</li>
                </ul>
                <h1>Dinner (468 calories)</h1>
                <ul>
                    <li>1 serving Sheet-Pan Chicken Fajita Bowls with 1/2 cup cooked brown rice</li>
                    <li>1 cup wild rice with 1 tablespoon slivered toasted almonds</li>
                    <li>1 cup wilted baby spinach with 1 teaspoon each olive oil, balsamic vinegar and grated Parmesan</li>
                    <li>1/2 cup diced cantaloupe topped with 1 teaspoon chopped walnuts</li>
                </ul>
            </div>
        </section>
        </div>
        <div class="collapse content" id="mon-content">
            <section>
            <div class="card card-body">
                <h1>Breakfast (271 calories)</h1>
                <ul>
                    <li>1 serving Baked Banana-Nut Oatmeal Cups</li>
                    <li>1 medium apple</li>
                </ul>
                <h1>Lunch (344 calories)</h1>
                <ul>
                    <li>1 serving Chipotle-Lime Cauliflower Taco Bowls</li>
                    <li>1/2 cup diced watermelon</li>
                </ul>
                <h1>Dinner (373 calories)</h1>
                <ul>
                    <li>1 serving Zucchini-Chickpea Veggie Burgers with Tahini-Ranch Sauce</li>
                    <li>3/4 cup roasted cauliflower and broccoli florets</li>
                    <li>3/4 cup brown rice</li>
                    <li>1 cup spinach salad with 1 tablespoon balsamic vinaigrette</li>
                </ul>
            </div>
        </section>
        </div>
        <div class="collapse content" id="tue-content">
            <section>
            <div class="card card-body">
                <h1>Breakfast (271 calories)</h1>
                <ul>
                    <li>1 serving Baked Banana-Nut Oatmeal Cupsl </li>
                    <li>1 medium apple</li>
                    <li>2 tablespoons each black beans, diced onion, diced mushrooms, and salsa</li>
                </ul>
                <h1>Lunch (344 calories)</h1>
                <ul>
                    <li>1 serving Chipotle-Lime Cauliflower Taco Bowls</li>
                    <li> 4 ounces grilled chicken, 1/2 cup chopped celery</li>
                    <li>1/2 cup diced mushrooms, 2 tablespoons shredded cheddar, and 1 tablespoon low-fat Caesar dressing
                    </li>
                    <li>1 medium nectarine</li>
                </ul>
                <h1>Dinner (401 calories)</h1>
                <ul>
                    <li>1 serving Easy Salmon Cakes over 2 cups baby spinach</li>
                    <li>1 medium artichoke, steamed </li>
                    <li>1/2 cup whole wheat couscous with 2 tablespoons diced bell pepper, 1/4 cup garbanzo beans, 1
                        teaspoon chopped fresh cilantro, and 1 tablespoon honey mustard dressing</li>
    
                </ul>
            </div>
        </section>
        </div>
        <div class="collapse content" id="wed-content">
            <section>
            <div class="card card-body">
                <h1>Breakfast (287 calories)</h1>
                <ul>
                    <li>1 serving Muesli with Raspberries </li>
                    <li> 1 wedge canteloupe</li>
                </ul>
                <h1>Lunch (344 calories)</h1>
                <ul>
                    <li>1 serving Chipotle-Lime Cauliflower Taco Bowls</li>
                    <li>1/2 cup black beans or lentils with 1 teaspoon chopped basil and 1 tablespoon low-fat Caesar dressing</li>
                </ul>
                <h1>Dinner (521 calories)</h1>
                <ul>
                    <li>1 serving Chicken & Cucumber Lettuce Wraps with Peanut Sauce</li>
                    <li>1/2 cup sliced mushrooms sautéed with 1 teaspoon olive oil, 1/4 cup chopped yellow onion, and 1 cup green beans </li>
                    <li>Salad made with 1 cup arugula, 1/2 cup halved cherry tomatoes, and 1 teaspoon balsamic vinaigrette</li>
                    <li>1/2 cup plain greek yogurt, 1 tablespoon chopped pecans and dash cinnamon</li>
    
                </ul>
            </div>
        </section>
        </div>
        <div class="collapse content" id="thu-content">
           <section>
            <div class="card card-body">
                <h1>Breakfast (287 calories)</h1>
                <ul>
                    <li>1 serving Muesli with Raspberries</li>
                    <li> 1 cup mixed melon</li>
                </ul>
                <h1>Lunch (344 calories)</h1>
                <ul>
                    <li>1 serving Chipotle-Lime Cauliflower Taco Bowls</li>
                    <li>Salad made with 1 cup baby spinach, 1/4 cup halved cherry tomatoes, 1/2 cup cooked lentils, 2 teaspoons grated Parmesan, and 1 tablespoon vinaigrette dressing</li>
                </ul>
                <h1>Dinner (454 calories)</h1>
                <ul>
                    <li>1 serving Spinach Ravioli with Artichokes & Olives</li>
                    <li>1/2 cup brown or wild rice</li>
                    <li>2 cups mixed baby greens with 1 tablespoon low-fat Caesar dressing</li>
                    <li>1 sliced pear</li>
    
                </ul>
            </div>
        </section>
        </div>
        <div class="collapse content" id="fri-content">
           <section>
            <div class="card card-body">
                <h1>Breakfast (287 calories)</h1>
                <ul>
                    <li>1 serving Muesli with Raspberries</li>
                    <li>1/2 cup fresh raspberries</li>
                </ul>
                <h1>Lunch (325 calories)</h1>
                <ul>
                    <li>1 serving Veggie & Hummus Sandwich
                    </li>
                    <li>Tomato-cucumber salad made with 5 slices tomato, 1/4 cup sliced cucumber, 1 teaspoon fresh chopped thyme, and 1 tablespoon vinaigrette dressing</li>
                    <li>1 medium orange </li>
                </ul>
                <h1>Dinner (405 calories)</h1>
                <ul>
                    <li>1 serving Curried Sweet Potato & Peanut Soup</li>
                    <li>1 (1-inch) slice whole-wheat baguette</li>
                    <li>1 cup steamed green beans with 1 tablespoon slivered almonds</li>
                    <li>1 sliced pear</li>
    
                </ul>
            </div>
        </section>
        </div>
        <div class="collapse content" id="sat-content">
           <section>
            <div class="card card-body">
                <h1>Breakfast (285 calories)</h1>
                <ul>
                    <li>1 serving "Egg in a Hole" Peppers with Avocado Salsa</li>
                    <li>3/4 cup berries</li>
                </ul>
                <h1>Lunch (345 calories)</h1>
                <ul>
                    <li>1 serving Curried Sweet Potato & Peanut Soup</li>
                    <li>1 apple</li>
                </ul>
                <h1>Dinner (371 calories)</h1>
                <ul>
                    <li>1 serving Spinach & Artichoke Dip Pasta</li>
                    <li>1/2 cup brown rice</li>
                    <li>5 medium tomato slices topped with 1 teaspoon each chopped ginger, chopped cilantro, light soy sauce, and rice wine vinegar</li>
                </ul>
            </div>
        </div>
    </section>
    </div>
    <section class="footer">
        <div class="box-container">
            <div class="box">
          <h3>Quick Links</h3>    
          <a class="links" href="index1.html">Home</a>
          <a class="links" href="#about">About</a>
          <a class='links' href="body(myFit).html">Directory</a>
          <a class='links' href="diet.html">Diet</a>

            
        </div>

            <div class="box">
                <h3>Contact Us</h3>
                <p><i class="fas fa-phone"></i>+919076534789</p>
                <p><i class="fas fa-phone"></i>+919234526278</p>
                <p><i class="fas fa-phone"></i>+919873356899</p>
            </div>

            <div class="box">
                <h3>Follow us on</h3>
                <div class="share">
                    <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                    <a href="https://www.twitter.com/" class="fab fa-twitter"></a>
                    <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
                    <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
                </div>
            </div>
        </div>
    </section>
    <!-- footer section ends -->
   

    <script>
        function showContent(contentId) {
            // Hide all contents
            var contents = document.querySelectorAll('.collapse');
            contents.forEach(function (content) {
                content.classList.remove('show');
            });

            // Show the selected content
            var selectedContent = document.getElementById(contentId);
            selectedContent.classList.add('show');
        }
    </script>

</body>

</html>
