<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style1.css">
    <title>Document</title>

</head>
<body>
    <nav class="navbar1">
        <a href="/">Home</a>
        <a href="#about">About</a>
        <a href="/userProfile/<%=newUser._id%>">User Profile</a>
        <a href="/user/<%=newUser._id%>/plan">Workout Plans</a>
        <a href="/user/directory/body(myFit).html" target="_self">Directory</a>
        <a href="/user/<%=newUser._id%>/diet">Diet</a>
        </nav>
    <%=foundId.name %>
</body>
</html>